.features {
  background-color: var(--white);
}

.feature-name {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.features-title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
