.header {
  background-color: var(--white);
}

.logo {
  font-family: var(--logo-font-family);
  color: var(--iris);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-part {
  color: var(--navy-blue);
}

.nav-list-link {
  color: var(--navy-blue);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
}

.address-link {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
