.hero {
  background-color: #2e2f42;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.btn {
  font-family: var(--font-family);
  color: #ffffff;
  background-color: #4d4bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
.btn {
  cursor: pointer;
}
