.hero {
  background-color: var(--navy-blue);
}

.hero-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.btn {
  font-family: var(--font-family);
  color: var(--white);
  background-color: var(--iris);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.btn:hover,
.btn:focus {
  background-color: var(--ocean);
}
